.Conteiner{
 
    position: absolute;
    top: 45%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.314);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.816);
  border-radius: 20px;
       
}
.Cuadro1{
max-width: 100%;
    height: 500px;
    width: 500px;
}
.Div23{
  justify-content: center;
  display: flex;
  padding-top: 70px;
  
}
.background{
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../Assets/Ropa_fondo.jpg');
  background-position: center center;
}
.Texto{
  color: aliceblue;
}
.nav-link1{
  padding:  10px;
  background-color: rgb(22, 121, 207);
  color: aliceblue;
  border-radius: 10px;
  justify-content: center;
 
}