.cart{
    position: relative;
    cursor: pointer;

}
.cart box-icon {

    width:  30px;
    height: 30px;
    fill: rgb(253, 253, 253);
}
.cart span{
    position: absolute;
    top: 1rem;
    right: -1rem;
    width: -1.5rem;
    height: 1.5rem;
    color: aliceblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0ram;


}