.tittle{
    font-size:  2rem;
    padding: 10rem 0 0 0;
    color: black;
}
.Productos{
    justify-content: center;
    padding: 5rem 0rem;
    margin: 0 auto ;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    gap: 3rem 3rem;
    box-sizing: border-box;
}


.Appcp{
   max-width: 1550;
   width: 100%;
   min-height: 100vh;
   margin: 0 auto;
   box-sizing:  0 100px 6px black;
   padding:  0 15px;
   box-sizing: border-box; 
}
.producto{
   display: flex;
   width: 90%;
   flex-direction: column;
   align-items: center;
   box-shadow: 1px 10px 10px 2px rgb(0,0,0, .2);
   border: 6px solid transparent;
   border-radius: 5px;

}
.producto:hover{
    border:  5px solid  rgb(61, 163, 167);

}
.producto_img img{
    width: 300px;

}
.producto_footer{
    padding: 2rem;
}
.producto_footer h1{
 font-weight: 600;
 font-size: 1.5rem;
 color: black;
 font-family: Arial, Helvetica, sans-serif;
}
.producto_footer p{
    font-weight: 800;
    color: rgba(0, 0, 0, 0.647);
    text-transform: uppercase;
    font-size:18px;
}
.producto_footer .price {
    font-size: 2rem;
    color: rgba(26, 22, 22, 0.7);
}
.producto .buttom{
    width: 100%;
height: 45px;
display: grid;
grid-template-columns: 2fr 1fr;
gap:  1rem 3rem;

}
.buttom .btn{
    border: none;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}
.buttom button{
    background-color:  rgb(61, 163, 167);
    max-width: 250px;
    width: 100%;
  
    font-size: 1.2rem;
    color:white ;
    font-weight: 600;

}
.buttom div {
background-color: rgb(149, 223, 226);
display: grid;
align-items: center;
text-align: center;
margin-left:  1rem;
border-radius: 4px ;

}
.buttom div a{
    color: aliceblue;
font-weight: 700;

}
.buttom div a:hover{
  color: aliceblue;  
}
/*-------------CSS DE COMPONENTE CARRITO -------------------- */
.carritos{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.36);
    z-index: 2;
    padding-bottom: 5rem;
    visibility: hidden ;
}
.carrito{
    position: fixed;
    top: 50%;
    left: 55%;
    transform:  translate(-50%, -50%);
    scale: .5;
    width: 70%;
    height: 80%;
    border-radius: 8px;
    overflow-x: scroll;
    transition: all 300ms ease-in-out;
    background-color: aliceblue;
opacity: 0;
visibility: hidden;

}
.carrito h2{
    text-align:  center;
    font-size: 2rem;
}
.carritos.show{
    visibility: visible;
}
.carrito.show{
    transform: translate(-50%, -50%);
    scale: 1.1;
    opacity: 1;
    visibility: visible;
}
.carrito_close box-icon{
    display:  inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
     transform:  all 300ms ease-in-out;
     margin:  3rem 0 0 2rem;
}
.carrito_close box-icon:hover{
fill: rebeccapurple;
}
.carrito_center{
    width: 90%;
    margin: 0 auto;
   
}
.carrito_item{
    display: grid;
    grid-template-columns:  1fr 2fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    box-shadow:  0 1px 10px rebeccapurple;
    border-radius: 8px;

}
.carrito_item img{
    width:  8rem;
}
.carrito_items h3 {
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;

}
.carrito_item .price{
    color: rgba(42, 40, 40, 0.623);
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
    margin-left: -1rem;
}

.carrito_item box-icon{
    fill: rgb(142, 98, 183);
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: .3rem;

}
.carrito_item .cantidad{
    font-size:  2rem;
    font-weight: bold;

}
.carrito_items .remove_items box-icon{
    width: 80px;
    height: 80px;
  fill: cadetblue;
  margin-top:  2rem;
}
.carrito-footer{
    text-align:  center;
    margin-bottom: 3rem;
}
.carrito-footer h3{
    font-size: 2rem;
    font-weight:  700;
    letter-spacing: 1px;

}
.carrito-footer .btn{
    display: inline-block;
    padding: .3rem  1rem;
    font-size: 1.2rem;
    background-color: rgba(68, 107, 47, 0.615);
    border: 0;
    outline: 0;
    cursor: pointer;
}
.carrito-footer .btn{
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    background-color:rgb(255, 255, 255) ;
    border: 0;
    outline: 0;
    cursor: pointer;

}

.carrito-footer .btn:hover{
   background-color: black;
   color: aliceblue; 
}









